$font-stack: Helvetica;
$font-color: #2f2f2f;
$video_bar_color: rgba(47, 47, 47, 0.7);

#video_player_box{
    background: #000000;
    width: 600px;
    height: auto;
        #videoControlsbar{
            background: $video_bar_color;
            padding: 10px 0 10px 0;
            margin: 0;
            width: 600px;
            height: 20px;

                #PlayPauseBtn{
                    background: none;
                    padding-left: 20px;
                    border: none;
                    outline: none;


            }
        }
}